$putih: #FFFFFF;
$hitam: #000000;
$hijau: #388E3C;
$merah: #D32F2F;
$abu-abu: #90A4AE;


.c-listview-default {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0px;

    cursor: pointer;

    &:hover {
        background-color: #EEEEEE;
        border-radius: 10000px;
    }

    .c-content-list-left {
        display: flex;
        align-items: center;

        .img-listview {
            width: 80px;
            height: 80px;
        }
    
        .title-listview {
            font-size: 20px;
            font-weight: bold;
            margin-left: 20px;
            margin-right: 15px;
        }
    }

    .c-content-list-right {
        display: flex;
        align-items: center;
        .i-expand {
            transform: rotate(-180deg);
        }
        .i-icon {
            display: flex;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}


/**
* ==================================================================================================
* RESPONSIVE MOBILE APP
* ==================================================================================================
*/

@media only screen and (max-width: 768px) { 
    .c-listview-default{

        padding: 5px 10px;
        
        .img-listview {
            width: 60px !important;
            height: 60px !important; 
        }
    
        .i-icon {
            display: flex;
            img {
                width: 25px !important;
                height: 25px !important;
            }
        }
    }
}