$putih: #FFFFFF;
$hitam: #000000;
$hijau: #388E3C;
$merah: #D32F2F;
$abu-abu: #90A4AE;

#main-detailContact__ {
    padding-top: 80px;
    .c-content-body-detailContact__ {
        display: flex;
        justify-content: center;
        
        .c-content-body___ {
            width: 35%;

            .c-photo-detailContact__ {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;

                    
                .img-contact {
                    width: 150px;
                    height: 150px;

                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .c-photo-detailContact__ > input {
                display: none;
            }

            .c-inputs-detailContact__ {
                margin-top: 60px;
            }
        }
    }
}


/**
* ==================================================================================================
* RESPONSIVE MOBILE APP
* ==================================================================================================
*/

@media only screen and (max-width: 768px) { 
    
    .c-content-body___ {
        width: 100% !important;
        padding: 0px 25px;
    }
}