$putih: #FFFFFF;
$hitam: #000000;
$hijau: #388E3C;
$merah: #D32F2F;
$abu-abu: #90A4AE;


html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#main-listContact {
    padding-top: 80px;
    .c-listContact-ListView {
        display: flex;
        justify-content: center;

        .c-listContact-body__ {
            width: 35%;

            .c-expand__ {
                .data-collapse__ {
                    display: flex;
                    align-items: center;

                    .title-data__ {
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }

                .data-collapse-actions__ {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

/**
* ==================================================================================================
* RESPONSIVE MOBILE APP
* ==================================================================================================
*/

@media only screen and (max-width: 768px) { 
    .c-listContact-body__ {
        width: 100% !important;
    }

    .c-expand__ { 
        padding: 0px 15px;
    }
}