$putih: #FFFFFF;
$hitam: #000000;
$hijau: #388E3C;
$merah: #D32F2F;
$abu-abu: #90A4AE;


.header-default {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    top: 0;
    background-color: $hijau;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;


    .main-header-default {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title-header {
            font-size: 22px;
            letter-spacing: 1px;
            color: $putih;
            display: flex;
            align-items: center;
            text-decoration: none;


            &:hover {
                cursor: pointer;
            }
        }

    }
}

/**
* ==================================================================================================
* RESPONSIVE MOBILE APP
* ==================================================================================================
*/

@media only screen and (max-width: 768px) { 
    .header-default {
        background-color: $hijau;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    
        .main-header-default {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .title-header {
                font-size: 18px;
                letter-spacing: 1px;
                color: $putih;
                display: flex;
                align-items: center;
                text-decoration: none;
    
    
                &:hover {
                    cursor: pointer;
                }
            }
    
        }
    }
}