$putih: #FFFFFF;
$hitam: #000000;
$hijau: #388E3C;
$merah: #D32F2F;
$abu-abu: #90A4AE;

.main-textinput {
    margin-top: 20px;
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $hitam;
        font-size: 20px;
        
        &:focus {
            outline: none;
        }
    }

    .colorBottomInputTrue {
        border-bottom: 1px solid $hitam !important;
    }

    .colorBottomInputFalse {
        border-bottom: 1px solid $merah !important;
    }
}