$putih: #FFFFFF;
$hitam: #000000;
$hijau: #388E3C;
$merah: #D32F2F;
$abu-abu: #90A4AE;

.btn__ {
    text-decoration: none !important;
    list-style: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: $putih;

    &:hover {
        background-color: none !important;
        color: $putih;
    }
}

.btn-delete {
    background-color: #D32F2F;
}

.btn-edit {
    background-color: #FBC02D;
}

.btn-create {
    background-color: $putih;
    color: $merah;
    width: 100px !important;

    &:hover {
        background-color: $putih;
        color: $merah;
    }
}

/**
* ==================================================================================================
* RESPONSIVE MOBILE APP
* ==================================================================================================
*/

@media only screen and (max-width: 768px) { 
    
    .btn-delete {
        background-color: #D32F2F;
        width: 150px;
    }

    .btn-edit {
        background-color: #FBC02D;
        width: 150px;
    }
}